body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-11xl: 1.88rem;
  --font-size-9xl: 1.75rem;
  --font-size-xl: 1.25rem;
  --font-size-16xl: 2.19rem;
  --font-size-36xl: 3.44rem;

  /* Colors */
  --color-gray-100: #030303;
  --color-white: #fff;
  --color-black: #000;
  --color-darkolivegreen: #426b1f;
  --color-whitesmoke-100: #fafaf5;
  --color-gainsboro-100: #e6e6e6;
  --color-orangered: #f24e1e;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-5xl: 24px;
  --br-11xl: 30px;
}
