.welcome-to-bitsbids {
  position: absolute;
  width: calc(100% - 898px);
  top: 2.25rem;
  left: 28.06rem;
  font-size: 2.81rem;
  line-height: 130%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-4-icon7 {
  position: absolute;
  top: 1.25rem;
  left: 3.75rem;
  width: 5.63rem;
  height: 5.63rem;
  object-fit: cover;
}
.profile-button-icon7 {
  position: absolute;
  top: 1.56rem;
  left: 81.88rem;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  cursor: pointer;
}
.home7 {
  position: absolute;
  top: 0.13rem;
  left: 0.69rem;
  line-height: 130%;
}
.home-button7 {
  position: absolute;
  top: 3.13rem;
  left: 65.88rem;
  background-color: var(--color-white);
  width: 5rem;
  height: 1.88rem;
  overflow: hidden;
}
.sell8 {
  position: absolute;
  top: 0.13rem;
  left: 1.25rem;
  line-height: 130%;
}
.sell-button7 {
  position: absolute;
  top: 3.13rem;
  left: 72.5rem;
  background-color: var(--color-white);
  width: 5rem;
  height: 1.88rem;
  overflow: hidden;
  cursor: pointer;
}
.bitsbids-logo-18 {
  position: absolute;
  top: 1.38rem;
  left: 11.25rem;
  width: 5.31rem;
  height: 5.31rem;
  object-fit: cover;
}
.header7,
.latest-bids {
  position: absolute;
  font-family: var(--font-poppins);
  text-align: center;
}
.header7 {
  top: 0;
  left: 0;
  width: 90rem;
  height: 8.13rem;
  overflow: hidden;
}
.latest-bids {
  width: calc(100% - 898px);
  top: 47.06rem;
  left: 28.06rem;
  font-size: var(--font-size-16xl);
  line-height: 130%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-5-icon2,
.image-6-icon {
  position: absolute;
  top: 145.63rem;
  left: 0;
  width: 26.31rem;
  height: 8.31rem;
  object-fit: cover;
}
.image-6-icon {
  top: 8.13rem;
  width: 109.38rem;
  height: 35.31rem;
  opacity: 0.65;
}
.organic-ginger4 {
  bottom: 6.13rem;
  line-height: 130%;
  font-weight: 600;
}
.grown-in-huntington,
.lb8,
.organic-ginger4 {
  position: absolute;
  left: 1.5rem;
}
.lb8 {
  bottom: 4.25rem;
  line-height: 130%;
  font-weight: 600;
  color: var(--color-darkolivegreen);
}
.grown-in-huntington {
  bottom: 1.75rem;
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--color-dimgray-100);
}
.noonbrew-zicb4-ekmak-unsplash-icon4 {
  position: absolute;
  height: calc(100% - 148px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 9.25rem;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.products10,
.products11,
.products12,
.products13,
.products14,
.products15,
.products16,
.products8,
.products9 {
  position: absolute;
  width: calc(100% - 1097px);
  top: 53.31rem;
  right: 33.75rem;
  left: 34.81rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 26rem;
  overflow: hidden;
  cursor: pointer;
}
.products10,
.products11,
.products12,
.products13,
.products14,
.products15,
.products16,
.products9 {
  right: 57rem;
  left: 11.56rem;
}
.products10,
.products11,
.products12,
.products13,
.products14,
.products15,
.products16 {
  right: 10.5rem;
  left: 58.06rem;
}
.products11,
.products12,
.products13,
.products14,
.products15,
.products16 {
  top: 82.75rem;
  right: 33.75rem;
  left: 34.81rem;
}
.products12,
.products13,
.products14,
.products15,
.products16 {
  right: 57rem;
  left: 11.56rem;
}
.products13,
.products14,
.products15,
.products16 {
  right: 10.5rem;
  left: 58.06rem;
}
.products14,
.products15,
.products16 {
  top: 111.31rem;
  right: 33.75rem;
  left: 34.81rem;
}
.products15,
.products16 {
  right: 57rem;
  left: 11.56rem;
}
.products16 {
  right: 10.5rem;
  left: 58.06rem;
}
.homepage-child {
  position: absolute;
  top: 38.06rem;
  left: 29rem;
  border-radius: var(--br-11xl);
  background-color: #ecebeb;
  width: 32rem;
  height: 3.69rem;
  mix-blend-mode: hard-light;
}
.icon-magnifying-glass1 {
  position: absolute;
  height: 0.8%;
  width: 1.39%;
  top: 25.16%;
  right: 34.1%;
  bottom: 74.04%;
  left: 64.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-here1 {
  position: absolute;
  top: 39.13rem;
  left: 26.75rem;
  font-size: 0.94rem;
  line-height: 130%;
  font-family: var(--font-poppins);
  color: #7c7878;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.19rem;
  height: 1.56rem;
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 156.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
